{% extends 'base.html.twig' %}

{% block body %}
<h1> Titre Stage </h1>
<h2> Nom Entreprise </h2>
<p> Description </p>
<h3> nom court formation </h3>
<p> site web entreprise <p>
{% endblock %}