{% extends 'base.html.twig' %}

{% block body %}

<h1> {{elStage.titre}} </h1>
<h2> {{elStage.entreprise.nom}} </h2>
<p> {{elStage.description}} </p>
<h3> {{elStage.formations.titre}} </h3>
<p> site web entreprise <p>
{% endblock %}