{% extends 'base.html.twig' %}


{% block body %}
    <h1>Bienvenue sur l'accueil de ProStage </h1>
    </br>
    <h3>
        Les ressources :
    </h3>

            {# Block de type carte pour présenter stage #}

    {% for stageCourant in unStage %}

        
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{stageCourant.titre}} </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{stageCourant.entreprise.nom}} </h6>
                    </br>
                    <p class="card-text">{{stageCourant.description}}</p></i>
                    <div align="right">
                        <a href="{{ path('pro_stage_stages',{leID:stageCourant.id}) }}" class="card-link">Voir plus</a>
                    </div>

                </div>
            
            </div>
           

    {% endfor %}
        

           




{% endblock %}
